[submodule "vimconfig/bundle/FuzzyFinder"]
	path = vimconfig/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vimconfig/bundle/L9"]
	path = vimconfig/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vimconfig/bundle/Vundle.vim"]
	path = vimconfig/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vimconfig/bundle/kotlin-vim"]
	path = vimconfig/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "vimconfig/bundle/nginx.vim"]
	path = vimconfig/bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
