**/*.*~

.idea/

tokens/*
!tokens/.gitkeep


**/*.swp

vimconfig/test_json.json
vimconfig/plugged/
**/.DS_Store

vimconfig/bundle/*

# Local/work-specific fish configs (not tracked)
fishconfig/conf.d/local.fish
fishconfig/conf.d/*-local.fish
